@font-face {
    font-family: 'Isom'; 
    src: url('bloktilt.ttf');
}


.timer { 
    color: rgb(59, 64, 176);
   background-color: rgb(255,255,255); 
    box-shadow: 1vw 1vw rgb(59, 64, 176);
    font-family: 'Isom';
    font-size: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10%;
    
}
.timerElements{
    
    padding: 3%;
}

.bod {
    background-color: rgb(255, 168, 237)
}
